* {
  letter-spacing: 0.05em;
}

.title {
  background-color: #b1dae7;
  border-radius: 50px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

input {
  display: block;
  position: relative;
  background-color: transparent;
  border-style: solid;
  outline: none;
  border: none;
  font-weight: 550;
  height: 100%;
}

input:hover {
  background-color: #e6e6e6;
}
input:focus {
  background-color: #cfcece;
  outline: none;
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid;
  border-radius: 10px;
  color: #234567;
  font-weight: 700;
}
.time {
  width: 40%;
}
.note {
  width: 90%;
  line-height: 200px;
  word-break: break-word;
}
